<h1>Eviction Roadmap - England & Wales</h1>
<p>Case: {{case_id}} | Grounds: {{#each grounds}}{{this.code}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
<p>Generated on {{current_date}}</p>
<ul>
  <li>Serve appropriate notice: {{case_type}}</li>
  <li>Prepare court filing with Form N5/N119</li>
  <li>Attend possession hearing</li>
</ul>
