<h1>Financial Statement Form</h1>
<p><em>Use this form to show your income and outgoings if you want to propose a payment plan</em></p>

<hr>

<h2>YOUR DETAILS</h2>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
  <tr>
    <td width="40%"><strong>Your full name:</strong></td>
    <td width="60%">_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your address:</strong></td>
    <td>_________________________________________<br>
        _________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your postcode:</strong></td>
    <td>_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your date of birth:</strong></td>
    <td>_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Number of dependants:</strong></td>
    <td>_________________________________________</td>
  </tr>
</table>

<hr>

<h2>SECTION 1: YOUR MONTHLY INCOME</h2>

<p><em>List all your income sources and how much you receive per month (after tax and deductions)</em></p>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr style="background-color: #f0f0f0;">
    <th width="60%">Income Source</th>
    <th width="40%">Amount per Month (£)</th>
  </tr>
  <tr>
    <td>Wages / Salary (after tax and National Insurance)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Self-employment income (average monthly)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Universal Credit</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Child Benefit / Child Tax Credit</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Housing Benefit / Local Housing Allowance (LHA)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Pension (State or private)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Disability Living Allowance / Personal Independence Payment (PIP)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Carer's Allowance</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Partner's income (if joint finances)</td>
    <td>_________________</td>
  </tr>
  <tr>
    <td>Other income (please specify): ____________________</td>
    <td>_________________</td>
  </tr>
  <tr style="background-color: #f0f0f0;">
    <td><strong>TOTAL MONTHLY INCOME:</strong></td>
    <td><strong>£ _____________</strong></td>
  </tr>
</table>

<hr>

<h2>SECTION 2: YOUR MONTHLY OUTGOINGS</h2>

<p><em>List all your essential living costs and how much you spend per month</em></p>

<h3>Housing Costs</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Rent (current property)</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Mortgage</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Council Tax</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Gas</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Electricity</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Water</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Buildings / Contents Insurance</td>
    <td>£ _________________</td>
  </tr>
</table>

<h3>Household Costs</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Food and groceries</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Toiletries and household products</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Telephone / Mobile phone</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Internet / TV licence</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Clothing and footwear</td>
    <td>£ _________________</td>
  </tr>
</table>

<h3>Travel and Transport</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Car insurance / Road tax / MOT</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Petrol / Diesel</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Public transport (bus, train)</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Car repairs / servicing</td>
    <td>£ _________________</td>
  </tr>
</table>

<h3>Childcare and Education</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Childcare costs</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>School meals / uniforms</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Child maintenance payments</td>
    <td>£ _________________</td>
  </tr>
</table>

<h3>Health Costs</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Prescription charges</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Dental / optical costs</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Other medical costs</td>
    <td>£ _________________</td>
  </tr>
</table>

<h3>Other Regular Payments</h3>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Credit card minimum payments</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Loan repayments</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Other debts (please specify): ____________________</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Other essential costs (please specify): ____________________</td>
    <td>£ _________________</td>
  </tr>
</table>

<br>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr style="background-color: #f0f0f0;">
    <td width="60%"><strong>TOTAL MONTHLY OUTGOINGS:</strong></td>
    <td width="40%"><strong>£ _____________</strong></td>
  </tr>
</table>

<hr>

<h2>SECTION 3: YOUR AVAILABLE INCOME</h2>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
  <tr>
    <td width="60%">Total monthly income (from Section 1)</td>
    <td width="40%">£ _________________</td>
  </tr>
  <tr>
    <td>Total monthly outgoings (from Section 2)</td>
    <td>£ _________________</td>
  </tr>
  <tr style="background-color: #f0f0f0;">
    <td><strong>Available income (income minus outgoings):</strong></td>
    <td><strong>£ _____________</strong></td>
  </tr>
</table>

<p>
<em>If your available income is negative (i.e., your outgoings are higher than your income), you should seek free debt advice urgently.</em>
</p>

<hr>

<h2>SECTION 4: YOUR ASSETS</h2>

<p><em>List any assets you own (e.g., property, savings, vehicles)</em></p>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
  <tr style="background-color: #f0f0f0;">
    <th width="60%">Asset</th>
    <th width="40%">Estimated Value (£)</th>
  </tr>
  <tr>
    <td>Property (home): ☐ Own ☐ Mortgage<br>
        Less mortgage outstanding: £ __________</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Savings (bank / building society)</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Vehicle(s)</td>
    <td>£ _________________</td>
  </tr>
  <tr>
    <td>Other assets (please specify): ____________________</td>
    <td>£ _________________</td>
  </tr>
</table>

<hr>

<h2>SECTION 5: YOUR PAYMENT OFFER</h2>

<p>Based on the financial information above, <strong>what can you afford to pay towards this debt?</strong></p>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
  <tr>
    <td width="70%">I can afford to pay:</td>
    <td width="30%">£ _________ per _______</td>
  </tr>
  <tr>
    <td>Starting from (date):</td>
    <td>_____________________</td>
  </tr>
  <tr>
    <td>I will also continue to pay my current rent in full:</td>
    <td>☐ Yes   ☐ No</td>
  </tr>
</table>

<p>
<strong>Note:</strong> Any payment arrangement you propose must be <em>realistic and sustainable</em>. You should also continue paying your current rent in full (if you still live at the property) to prevent further arrears.
</p>

<hr>

<h2>SECTION 6: ADDITIONAL INFORMATION</h2>

<p>Is there anything else you would like the claimant to know about your financial situation?</p>

<p>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
</p>

<hr>

<h2>DECLARATION</h2>

<p>
I confirm that the information I have given on this form is true and complete to the best of my knowledge. I understand that if I provide false information, it may affect any agreement or court order.
</p>

<table border="0" cellpadding="8" width="100%">
  <tr>
    <td width="30%"><strong>Your signature:</strong></td>
    <td width="70%">_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Date:</strong></td>
    <td>_________________________________________</td>
  </tr>
</table>

<hr>

<h2>WHAT TO DO NEXT</h2>

<ol>
  <li><strong>Complete this form</strong> as accurately as possible.</li>
  <li><strong>Attach proof of income</strong> (e.g., recent payslips, benefit letters, bank statements).</li>
  <li><strong>Attach proof of outgoings</strong> (e.g., utility bills, rent agreement, loan statements).</li>
  <li><strong>Send this form with the Reply Form</strong> to the claimant within 30 days.</li>
</ol>

<p><strong>Send to:</strong></p>

<p>
{{landlord_full_name}}<br>
{{landlord_address}}<br>
{{landlord_postcode}}<br>
{{#if landlord_email}}Email: {{landlord_email}}{{/if}}
</p>

{{#if solicitor_firm}}
<p><strong>Or via the claimant's solicitor:</strong></p>
<p>
{{solicitor_firm}}<br>
{{solicitor_address}}<br>
Reference: {{claimant_reference}}<br>
{{#if solicitor_email}}Email: {{solicitor_email}}{{/if}}
</p>
{{/if}}

<hr>

<h2>NEED HELP COMPLETING THIS FORM?</h2>

<p>
Free debt advice services can help you complete this form and negotiate with the claimant on your behalf:
</p>

<ul>
  <li><strong>Citizens Advice Cymru:</strong> 0800 702 2020 or www.citizensadvice.org.uk/wales</li>
  <li><strong>Shelter Cymru:</strong> 0800 495 4095 or www.sheltercymru.org.uk</li>
  <li><strong>StepChange Debt Charity:</strong> 0800 138 1111 or www.stepchange.org</li>
  <li><strong>National Debtline:</strong> 0808 808 4000 or www.nationaldebtline.org</li>
  <li><strong>MoneyHelper:</strong> 0800 138 7777 or www.moneyhelper.org.uk</li>
</ul>

<hr>

<p style="font-size: 10pt;"><em>
<strong>Data Protection:</strong> The claimant will use the information on this form to consider your payment offer and, if necessary, for court proceedings. Your personal data will be processed in accordance with GDPR and the Data Protection Act 2018.
</em></p>
