<h1>Reply Form</h1>
<p><em>Use this form to respond to the Letter Before Claim</em></p>

<hr>

<h2>YOUR DETAILS</h2>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
  <tr>
    <td width="40%"><strong>Your full name:</strong></td>
    <td width="60%">_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your address:</strong></td>
    <td>_________________________________________<br>
        _________________________________________<br>
        _________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your postcode:</strong></td>
    <td>_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your telephone:</strong></td>
    <td>_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Your email:</strong></td>
    <td>_________________________________________</td>
  </tr>
</table>

<hr>

<h2>CLAIMANT'S DETAILS</h2>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
  <tr>
    <td width="40%"><strong>Claimant's name:</strong></td>
    <td width="60%">{{landlord_full_name}}</td>
  </tr>
  <tr>
    <td><strong>Amount claimed:</strong></td>
    <td>{{currency total_claim_amount}}</td>
  </tr>
  <tr>
    <td><strong>Date of Letter Before Claim:</strong></td>
    <td>{{generation_date}}</td>
  </tr>
</table>

<hr>

<h2>YOUR RESPONSE</h2>

<p><strong>Please tick ONE box below:</strong></p>

<h3>☐ Option 1: I will pay the debt in full</h3>
<p>
I agree that I owe the amount claimed and I will pay in full by: ___________________ (date)
</p>

<hr>

<h3>☐ Option 2: I want to arrange a payment plan</h3>
<p>
I agree that I owe the money but I cannot pay in full. I would like to arrange a payment plan.
</p>

<p><strong>I can afford to pay:</strong></p>

<table border="1" cellpadding="6" cellspacing="0">
  <tr>
    <td>£ ___________ per week</td>
    <td>☐</td>
  </tr>
  <tr>
    <td>£ ___________ per month</td>
    <td>☐</td>
  </tr>
  <tr>
    <td>Other: £ ___________ per ___________</td>
    <td>☐</td>
  </tr>
</table>

<p>
<strong>I have completed the Financial Statement Form</strong> (tick if enclosed): ☐
</p>

<hr>

<h3>☐ Option 3: I dispute the debt</h3>
<p>
I do not agree that I owe this money, or I believe the amount is wrong.
</p>

<p><strong>Reason for dispute:</strong> (Please tick all that apply)</p>

<ul>
  <li>☐ I have already paid this debt in full</li>
  <li>☐ I have never lived at this property</li>
  <li>☐ The amount claimed is incorrect</li>
  <li>☐ The rent was lower than stated</li>
  <li>☐ I made more payments than the claimant has credited</li>
  <li>☐ The damage was not caused by me</li>
  <li>☐ The property was in poor condition when I moved in</li>
  <li>☐ The debt is too old (statute-barred)</li>
  <li>☐ Other (please explain below)</li>
</ul>

<p><strong>Full explanation of why you dispute the debt:</strong></p>

<p>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
</p>

<p><strong>Evidence enclosed:</strong> (Please list any documents you are sending to support your case)</p>

<ul>
  <li>☐ Bank statements</li>
  <li>☐ Receipts</li>
  <li>☐ Occupation contract / written statement</li>
  <li>☐ Check-in report / inventory</li>
  <li>☐ Photographs</li>
  <li>☐ Emails or letters</li>
  <li>☐ Other: _________________________________________</li>
</ul>

<hr>

<h3>☐ Option 4: I need more information</h3>
<p>
I need more information or documents before I can respond properly.
</p>

<p><strong>Please provide the following:</strong></p>

<p>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
</p>

<hr>

<h3>☐ Option 5: I am in vulnerable circumstances</h3>
<p>
I am in a vulnerable situation and request that you pause proceedings to allow me to seek advice.
</p>

<p><strong>Explanation of circumstances:</strong> (e.g., mental health issues, serious illness, bereavement)</p>

<p>
_________________________________________________________________<br>
_________________________________________________________________<br>
_________________________________________________________________<br>
</p>

<p>
I am currently seeking advice from: _________________________________________
</p>

<hr>

<h2>DECLARATION</h2>

<p>
I confirm that the information I have given on this form is true and complete to the best of my knowledge.
</p>

<table border="0" cellpadding="8" width="100%">
  <tr>
    <td width="30%"><strong>Your signature:</strong></td>
    <td width="70%">_________________________________________</td>
  </tr>
  <tr>
    <td><strong>Date:</strong></td>
    <td>_________________________________________</td>
  </tr>
</table>

<hr>

<h2>WHAT TO DO NEXT</h2>

<ol>
  <li><strong>Complete this form</strong> by ticking the relevant boxes and filling in the details.</li>
  <li><strong>Attach any supporting documents</strong> (e.g., bank statements, receipts, photographs).</li>
  <li><strong>Keep a copy</strong> of this form and all documents for your records.</li>
  <li><strong>Send this form to the claimant</strong> within 30 days of the date of the Letter Before Claim.</li>
</ol>

<p><strong>Send to:</strong></p>

<p>
{{landlord_full_name}}<br>
{{landlord_address}}<br>
{{landlord_postcode}}<br>
{{#if landlord_email}}Email: {{landlord_email}}{{/if}}
</p>

{{#if solicitor_firm}}
<p><strong>Or via the claimant's solicitor:</strong></p>
<p>
{{solicitor_firm}}<br>
{{solicitor_address}}<br>
Reference: {{claimant_reference}}<br>
{{#if solicitor_email}}Email: {{solicitor_email}}{{/if}}
</p>
{{/if}}

<hr>

<h2>NEED HELP?</h2>

<p>
If you need free, independent debt advice, contact:
</p>

<ul>
  <li><strong>Citizens Advice Cymru:</strong> 0800 702 2020 or www.citizensadvice.org.uk/wales</li>
  <li><strong>Shelter Cymru:</strong> 0800 495 4095 or www.sheltercymru.org.uk</li>
  <li><strong>StepChange Debt Charity:</strong> 0800 138 1111 or www.stepchange.org</li>
  <li><strong>National Debtline:</strong> 0808 808 4000 or www.nationaldebtline.org</li>
  <li><strong>MoneyHelper:</strong> 0800 138 7777 or www.moneyhelper.org.uk</li>
</ul>

<p><em>These services are free and confidential.</em></p>

<hr>

<p style="font-size: 10pt;"><em>
<strong>Data Protection:</strong> The information you provide on this form will be used by the claimant to consider your response and, if necessary, for court proceedings. Your personal data will be processed in accordance with the General Data Protection Regulation (GDPR) and the Data Protection Act 2018.
</em></p>
